# sydbox's .gitignore

#
# Normal rules
#
.*
*.o
*.o.*
*.a
*.s
*.ko
*.so
*.so.dbg
*.la
*.lo
*.gz
*.bz2
*.lzma
*.lzo
*.xz
*.patch
*.gch
*.gcno
*.shoebox
core*
sydcore*
vgcore*

#
# git files that we don't want to ignore even it they are dot-files
#
!.gitattributes
!.gitignore
!.gitkeep
!.gitreview
!.mailmap

# Build manifest directory
!/.builds

# stgit generated dirs
patches-*

# quilt's files
patches
series

# ctags files
tags
TAGS

# cscope files
cscope.*
ncscope.*

# gnu global files
GPATH
GRTAGS
GSYMS
GTAGS

# backup files
*.orig
*~
\#*#

# autotools
/ChangeLog
/CREDITS
/INSTALL
/aclocal.m4
/autom4te.cache
/build-aux
/config.guess
/config.h
/config.h.in
/config.log
/config.sub
/config.status
/configure
/compile
/depcomp
/install-sh
/m4/pkg.m4
/missing
/stamp-h1

# Cargo
/Cargo.toml
/src/Cargo.toml

Makefile.in
Makefile

# tests
*.log
*.trs

# libtool
.deps
.libs
/.version
/libtool
/ltmain.sh
/m4/libtool.m4
/m4/lt*.m4

# Specific ignores
/data/sydbox.bashrc

/man/*.1
/man/*.html
/man/*.ent

# Plan9 Rc
/rc/*.tab.h
/rc/*.tab.c
/rc/syn.c

# Sydb☮x-1
/misc/syd-hilite
/src/sydbox
/src/sydfmt
/src/sydbox-dump
/src/shoebox
/t/sydtest
/t/bin-wrappers/sydbox
/t/bin-wrappers/sydbox-dump
/t/bin-wrappers/sydfmt
/t/bin-wrappers/shoebox
# Sydb☮x-2
/src/syd
/src/syd-dump
/src/syd-errno
/src/syd-format
/src/syd-hash
/src/syd-shoebox
/src/lib.rs
/t/syd-test
/t/bin-wrappers/syd
/t/bin-wrappers/syd-dump
/t/bin-wrappers/syd-format
/t/bin-wrappers/syd-shoebox
# Sydb☮x-2

/src/kingbee.d/*

jobs
/syd/libsyd.ld
/syd/syd-check
/syd/check-pause

tests/test-lib.sh
tests/test-results
tests/temporary*
tests/trash*
tests/bin/sydbox
tests/bin/sydfmt
tests/bin/emily
tests/bin/realpath-test
tests/bin/unlink-simple
tests/bin/wildtest
tests/t[0-9][0-9][0-9]*
!tests/t[0-9][0-9][0-9]*.c
!tests/t[0-9][0-9][0-9]*.sh

/t/test-lib.sh
/t/test-results
/t/temporary*
/t/trash*
/t/bin/*-[0-9]
/t/bin/syd-*
!/t/bin/syd-*.[ch]
!/t/bin/syd-*.p[ly]
/t/bin/threads_execve
/t/bin/sockmatchtest
/t/bin/wildtest
/t/valgrind/bin/*
/t/valgrind/valgrind.sh

/t/sb/*-0

# Added by cargo
/pandora/target
/src/sydbox_rs
