# Map git author names and email addresses to canonical/preferred form.
Ali Polatel <alip@exherbo.org> <polatel@gmail.com>
Ali Polatel <alip@exherbo.org> <polatel@zebramo.com>
Ali Polatel <alip@exherbo.org> Alï Polatel <alip@exherbo.org>
Benedikt Morbach <moben@exherbo.org> <benedikt.morbach@googlemail.com>
